<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkd.manage.mapper.InventoryLogMapper">

    <resultMap type="InventoryLog" id="InventoryLogResult">
        <result property="id"    column="id"    />
        <result property="vmId"    column="vm_id"    />
        <result property="skuId"    column="sku_id"    />
        <result property="channelId"    column="channel_id"    />
        <result property="changeType"    column="change_type"    />
        <result property="changeQuantity"    column="change_quantity"    />
        <result property="beforeQuantity"    column="before_quantity"    />
        <result property="afterQuantity"    column="after_quantity"    />
        <result property="changeTime"    column="change_time"    />
        <result property="operator"    column="operator"    />
        <result property="createTime"    column="create_time"    />
        <result property="innerCode"    column="inner_code"    />
        <result property="skuName"    column="sku_name"    />
        <result property="channelCode"    column="channel_code"    />
    </resultMap>

    <sql id="selectInventoryLogVo">
        select il.id, il.vm_id, il.sku_id, il.channel_id, il.change_type, il.change_quantity,
               il.before_quantity, il.after_quantity, il.change_time, il.operator, il.create_time,
               vm.inner_code, s.sku_name, c.channel_code
        from tb_inventory_log il
        left join tb_vending_machine vm on il.vm_id = vm.id
        left join tb_sku s on il.sku_id = s.sku_id
        left join tb_channel c on il.channel_id = c.id
    </sql>

    <select id="selectInventoryLogList" parameterType="InventoryLog" resultMap="InventoryLogResult">
        <include refid="selectInventoryLogVo"/>
        <where>
            <if test="vmId != null">and il.vm_id = #{vmId}</if>
            <if test="skuId != null">and il.sku_id = #{skuId}</if>
            <if test="channelId != null">and il.channel_id = #{channelId}</if>
            <if test="changeType != null">and il.change_type = #{changeType}</if>
            <if test="operator != null and operator != ''">and il.operator like concat('%', #{operator}, '%')</if>
            <if test="innerCode != null and innerCode != ''">and vm.inner_code like concat('%', #{innerCode}, '%')</if>
            <if test="skuName != null and skuName != ''">and s.sku_name like concat('%', #{skuName}, '%')</if>
            <if test="channelCode != null and channelCode != ''">and c.channel_code like concat('%', #{channelCode}, '%')</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(il.change_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(il.change_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
        order by il.change_time desc
    </select>

    <select id="selectInventoryLogById" parameterType="Long" resultMap="InventoryLogResult">
        <include refid="selectInventoryLogVo"/>
        where il.id = #{id}
    </select>

    <select id="selectByVmId" parameterType="Long" resultMap="InventoryLogResult">
        <include refid="selectInventoryLogVo"/>
        where il.vm_id = #{vmId}
        order by il.change_time desc
    </select>

    <select id="selectBySkuId" parameterType="Long" resultMap="InventoryLogResult">
        <include refid="selectInventoryLogVo"/>
        where il.sku_id = #{skuId}
        order by il.change_time desc
    </select>

    <select id="selectByChannelId" parameterType="Long" resultMap="InventoryLogResult">
        <include refid="selectInventoryLogVo"/>
        where il.channel_id = #{channelId}
        order by il.change_time desc
    </select>

    <insert id="insertInventoryLog" parameterType="InventoryLog" useGeneratedKeys="true" keyProperty="id">
        insert into tb_inventory_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="vmId != null">vm_id,</if>
            <if test="skuId != null">sku_id,</if>
            <if test="channelId != null">channel_id,</if>
            <if test="changeType != null">change_type,</if>
            <if test="changeQuantity != null">change_quantity,</if>
            <if test="beforeQuantity != null">before_quantity,</if>
            <if test="afterQuantity != null">after_quantity,</if>
            <if test="changeTime != null">change_time,</if>
            <if test="operator != null">operator,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="vmId != null">#{vmId},</if>
            <if test="skuId != null">#{skuId},</if>
            <if test="channelId != null">#{channelId},</if>
            <if test="changeType != null">#{changeType},</if>
            <if test="changeQuantity != null">#{changeQuantity},</if>
            <if test="beforeQuantity != null">#{beforeQuantity},</if>
            <if test="afterQuantity != null">#{afterQuantity},</if>
            <if test="changeTime != null">#{changeTime},</if>
            <if test="operator != null">#{operator},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <delete id="deleteInventoryLogById" parameterType="Long">
        delete from tb_inventory_log where id = #{id}
    </delete>

    <delete id="deleteInventoryLogByIds" parameterType="String">
        delete from tb_inventory_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
